:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-decor-light: #cfcfbc;
  --color-decor-dark: #a18268;
}

/* Base */
body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0; /* Убираем автоматически добавленные браузером отступы */
  background-color: var(--color-primary-light);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; /* Убираем автоматически добавленные браузером верхние отступы, потому что с нижними отступами надо будет ещё работать  */
}

address {
  font-style: normal;
}

ul {
  padding: 0; /* Убираем автоматически добавленные браузером отступы */
  margin: 0; /* Убираем автоматически добавленные браузером отступы */
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%; /* Ширина контейнера */
  max-width: 1288px; /* Ширина контента + 48px, потому что box-sitizing:border box, не входят в эту ширину */
  margin: 0 auto; /* Центрируем контент */
  padding: 0 24px; /* Отступы от краёв контейнера, чтобы не прилипали */
}

/* Button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px; /* Внутренние отступы */
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  /* font-weight: 600; */ /* Если нужно, чтобы при наведении текст становился жирным */
}

/* Header */

.header {
  background-color: lightgray;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px; /* Расстояние между элементами */
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
  gap: 40px; /* Расстояние между элементами */
}

.header-menu {
  display: flex;
  gap: 64px; /* Расстояние между элементами */
  flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
  justify-content: center; /* Выравниваем пункты меню по центру */
}

/* Hero section */

.hero-section {
  padding: 272px 0;
  background-image: url('../images/hero-section-background.jpg'); /* Путь к изображению */
  background-repeat: no-repeat; /* Повторение фона */
  background-position: center top; /* Позиция фона */
  background-size: cover; /* Размер фона */
  background-attachment: scroll; /* Фиксация фона */
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages section */

.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}

.advantages-list {
  display: flex; /* Располагаем элементы в строку */
  justify-content: space-between; /* Распределяем элементы по ширине */
  gap: 40px; /* Расстояние между элементами */
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center; /* Выравниваем заголовок по центру */
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions-section */

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex; /* Располагаем элементы в строку */
  justify-content: space-between; /* Распределяем элементы по ширине */
  gap: 40px; /* Расстояние между элементами */
}

.traditions-content {
  max-width: 710px; /* Максимальная ширина контента */
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px; /* Максимальна ширина текста по полам, чтобы текст сам перемещался на другое строку без тега <br> */
}

/* Chefs-section */

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-decor-dark);
}

.chefs-title {
  margin: 0 auto 80px; /* Отступ сверху 0, слева и справа auto, снизу 80  */
  max-width: 532px; /* Максимальная ширина заголовка */ /* изменить потом на 520, потому что шрифт Poppins не поддерживает укр язык  */
}

.chefs-title::after,
.chefs-title::before {
  content: ''; /* Добавляем контент */
  display: block;
  width: 352px; /* Для декоративных линий */
  border: 2px solid var(--color-decor-light);
}

.chef-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

/* Formats section */

.formats-list {
  display: flex; /* Располагаем элементы в строку */
  gap: 20px; /* Расстояние между элементами */
  flex-wrap: wrap;
}

.formats-item {
  display: flex; /* Располагаем элементы в строку */
  flex-basis: calc(
    (100% - 40px) / 3
  ); /* Ширина элемента 100 процентов минус 40 gap 20+20 расстояние между карточками */
}

.format-card {
  height: 444px; /* Высота карточки */
  padding: 24px; /* Внутренние отступы */
  border-radius: 16px; /* Скругляем углы */
  border: 1px solid lightgray; /* Remove потом рамку */
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-weight: 600;
  font-size: 24px;
}

.format-text {
  font-weight: 300;
  font-size: 14px;
}

/* Contacts-section */
.contacts-title {
  margin-bottom: 16px;
}

/* Footer */

.footer {
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}
