a {
  display: inline-block; /* Блочный элемент, чтобы можно было задать ширину и высоту */
}
body {
  color: var(--color-primary-dark); /* Цвет текста */
  font-family: 'Poppins', sans-serif; /* Шрифт */
  font-size: 16px; /* Размер шрифта */
  font-weight: 300; /* Начертание шрифта */
  line-height: 1.5; /* Высота строки */
  margin: 0; /* Убираем автоматически добавленные браузером отступы */
  background-color: var(--color-primary-light);

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px; /* Размер шрифта */
    font-weight: 400; /* Начертание шрифта */
  }
}

img {
  display: block; /* Блочный элемент, чтобы убрать отступы снизу */
}

*,
*::after,
*::before {
  box-sizing: border-box; /* Устанавливаем box-sizing для всех элементов */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; /* Убираем автоматически добавленные браузером верхние отступы, потому что с нижними отступами надо будет ещё работать  */
  margin-bottom: 0; /* Убираем автоматически добавленные браузером нижние отступы */
}

address {
  font-style: normal; /* Убираем курсив */
}

ul {
  padding: 0; /* Убираем автоматически добавленные браузером отступы */
  margin: 0; /* Убираем автоматически добавленные браузером отступы */
  list-style-type: none; /* Убираем маркеры у списков */
}

.container {
  width: 100%; /* Занимает всю доступную ширину родительского элемента */
  max-width: 1288px; /* Ширина контента + 48px, потому что box-sitizing:border box, не входят в эту ширину */
  margin: 0 auto; /* Центрируем контент */
  padding: 0 24px; /* Отступы от краёв контейнера, чтобы не прилипали */
}
