a {
  display: inline-block; /* Блочный элемент, чтобы можно было задать ширину и высоту */
}
body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0; /* Убираем автоматически добавленные браузером отступы */
  background-color: var(--color-primary-light);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; /* Убираем автоматически добавленные браузером верхние отступы, потому что с нижними отступами надо будет ещё работать  */
  margin-bottom: 0; /* Убираем автоматически добавленные браузером нижние отступы */
}

address {
  font-style: normal;
}

ul {
  padding: 0; /* Убираем автоматически добавленные браузером отступы */
  margin: 0; /* Убираем автоматически добавленные браузером отступы */
  list-style-type: none;
}

.container {
  width: 100%; /* Занимает всю доступную ширину родительского элемента */
  max-width: 1288px; /* Ширина контента + 48px, потому что box-sitizing:border box, не входят в эту ширину */
  margin: 0 auto; /* Центрируем контент */
  padding: 0 24px; /* Отступы от краёв контейнера, чтобы не прилипали */
}
