@import './utils/fonts'; /* Импортируем шрифты */

@import './utils/variables'; /* Импортируем переменные */

/* Base */

@import './base'; /* Импортируем базовые стили */

@import './utils/utils'; /* Импортируем утилиты */

.container {
  width: 100%; /* Занимает всю доступную ширину родительского элемента */
  max-width: 1288px; /* Ширина контента + 48px, потому что box-sitizing:border box, не входят в эту ширину */
  margin: 0 auto; /* Центрируем контент */
  padding: 0 24px; /* Отступы от краёв контейнера, чтобы не прилипали */
}

/* Button */
@import './components/buttons'; /* Импортируем кнопки */

/* Link */

@import './components/links'; /* Импортируем ссылки */

/* Header */
@import './components/header'; /* Импортируем шапку */

/* Hero section */

@import './components/hero-section'; /* Импортируем секцию hero */

/* Advantages section */

@import './layouts/advantages-section'; /* Импортируем секцию преимуществ */

@import './utils/texts'; /* Импортируем текстовые утилиты */

/* Traditions-section */

@import './layouts/traditions-section'; /* Импортируем секцию традиций */

/* Section */

@import './layouts/section'; /* Импортируем секцию */

/* Chefs-section */

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-decor-dark); /* Тень */
}

.chefs-title {
  position: relative; /* Позиционирование относительно родителя */
  margin: 0 auto 80px; /* Отступ сверху 0, слева и справа auto, снизу 80  */
  /* max-width: 532px; Максимальная ширина заголовка изменить потом на 520, потому что шрифт Poppins не поддерживает укр язык  */
}

.chefs-title::after,
.chefs-title::before {
  bottom: 24px; /* Отступ снизу */
  position: absolute; /* Абсолютное позиционирование, автоматические становится блоком*/
  content: ''; /* Добавляем контент */
  width: 352px; /* Для декоративных линий */
  border: 2px solid var(--color-decor-light);
}

.chefs-title::before {
  left: 0; /* Отступ слева размер линии + 8 px расстояние между заголовком и линиями*/
}

.chefs-title::after {
  right: 0; /* Отступ слева размер линии + 8 px расстояние между заголовком и линиями*/
}

.chef-card {
  display: flex; /* Располагаем элементы в строку */
  gap: 30px; /* Расстояние между элементами */
}

.chefs-list {
  display: flex; /* Располагаем элементы в строку */
  gap: 40px 30px; /* Расстояние между элементами вверх-вниз и влево-вправо*/
  flex-wrap: wrap; /* Перенос элементов на новую строку */
}

.chefs-item {
  flex-basis: calc(
    (100% - 30px) / 2
  ); /* Ширина элемента 100 процентов минус 30 gap расстояние между карточками */
}

.chef-text p {
  margin-bottom: 24px; /* Отступ снизу у параграфа */
}

.chef-text p:last-child {
  margin-bottom: 0; /* Убираем нижний отступ у последнего параграфа */
}

.chef-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

/* Formats section */

.formats-container {
  display: flex; /* Располагаем элементы в строку */
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex; /* Располагаем элементы в строку */
  gap: 20px; /* Расстояние между элементами */
  flex-wrap: wrap; /* Перенос элементов на новую строку */
}

.formats-item {
  display: flex; /* Располагаем элементы в строку */
  flex-basis: calc(
    (100% - 40px) / 3
  ); /* Ширина элемента 100 процентов минус 40 gap 20+20 расстояние между карточками */
}

.format-card {
  display: flex; /* Располагаем элементы в строку */
  flex-direction: column; /* Располагаем элементы в столбец */
  justify-content: flex-end; /* Выравниваем элементы по низу */
  position: relative; /* Позиционирование относительно родителя */
  height: 444px; /* Высота карточки */
  padding: 24px; /* Внутренние отступы */
  border-radius: 16px; /* Скругляем углы */
  overflow: hidden; /* Обрезаем элементы, которые выходят за пределы родителя */
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-card:after {
  content: ''; /* Добавляем контент */
  position: absolute; /* Абсолютное позиционирование */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  pointer-events: none; /* Чтобы не мешал кликам */
  z-index: 1; /* Перемещаем элемент на передний план */
}

.format-image {
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Отступ сверху */
  left: 0; /* Отступ слева */
  width: 100%; /* Ширина элемента */
  height: 100%; /* Высота элемента */
  z-index: 0; /* Перемещаем элемент на задний план */
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  color: var(--color-primary-light); /* Цвет текста */
  font-weight: 600;
  font-size: 24px;
  z-index: 2; /* Перемещаем элемент на передний план */
}

.format-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-primary-light); /* Цвет текста */
  z-index: 2; /* Перемещаем элемент на передний план */
}

/* Carousel */

.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%; /* Скругляем углы в круг */
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  cursor: pointer;
  display: flex; /* Располагаем элементы в строку */
  align-items: center; /* Выравниваем по центру */
  justify-content: center; /* Выравниваем по центру */
  /* fill: var(--color-primary-dark); Цвет иконки будет насследоваться от родителя */
  flex-shrink: 0; /* Запрещаем уменьшение размера */
}

.carousel-button.next-slide {
  transform: rotate(180deg); /* Разворот элемента */
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}

/* Contacts-section */

.contacts-section {
  padding-bottom: 96px; /* Отступ снизу */
}

.contacts-container {
  display: flex; /* Располагаем элементы в строку */
  gap: 32px; /* Расстояние между элементами */
}

.contacts-map {
  display: flex; /* Располагаем элементы в строку */
  flex-shrink: 0; /* Запрещаем уменьшение размера */
  border: none; /* Убираем рамку */
  border-radius: 16px; /* Скругляем углы */
}

.contacts-title {
  margin-bottom: 16px;
}

/* Footer */

.footer-container {
  display: flex; /* Располагаем элементы в строку */
  gap: 20px; /* Расстояние между элементами */
}

.footer-nav,
.footer-address {
  display: flex; /* Располагаем элементы в строку */
  flex-basis: 50%; /* Ширина элемента 50 процентов */
  gap: 20px; /* Расстояние между элементами */
}

.footer-logo,
.footer-menu {
  flex-grow: 1; /* Растягиваем лого на всё доступное пространство, можно так же использовать свойство flex-basis: 50% */
}

.address-list {
  flex-grow: 1; /* Растягиваем адрес на всё доступное пространство */
}

.address-info {
  display: block; /* Располагаем элементы в столбец но можно и не писать, потому что эти свойства переходят от footer-address */
  flex-grow: 1; /* Растягиваем информацию на всё доступное пространство */
}

.footer {
  padding: 32px 0; /* Внутренние отступы */
  position: relative; /* Позиционирование относительно родителя */
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}

.footer::before,
.footer::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  background-repeat: no-repeat; /* Повторение фона */
  bottom: 0; /* Отступ снизу */
}

.footer::before {
  width: 180px; /* Ширина декоративного элемента */
  height: 120px; /* Высота декоративного элемента */
  background-image: url(../images/decor-bread-small.png);
  left: 0; /* Отступ слева */
  /* background-size: auto; Размер фона */
}

.footer::after {
  width: 380px; /* Ширина декоративного элемента */
  height: 190px; /* Высота декоративного элемента */
  right: 0; /* Отступ справа */
  background-image: url(../images/decor-bread-large.png);
}

/* Modal window */

.backdrop {
  /* Фон модального окна*/
  display: flex; /* Располагаем элементы в строку */
  align-items: center; /* Выравниваем элементы по центру */
  justify-content: center; /* Выравниваем элементы по центру */
  position: fixed; /* Фиксированное позиционирование */
  top: 0; /* Отступ сверху */
  bottom: 0; /* Отступ снизу */
  left: 0; /* Отступ слева */
  right: 0; /* Отступ справа */
  background-color: rgb(0, 0, 0, 0.5); /* Цвет фона */
  padding: 20px 0; /* Внутренние отступы */
  transition: opacity 0.3s, visibility 0.3s; /* Плавное изменение прозрачности */
}

.backdrop.is-hidden {
  /* Скрываем фон модального окна после закрытия */
  opacity: 0; /* Прозрачность */
  visibility: none; /* Невидимость элемента для браузера */
  pointer-events: none; /* Отключаем события мыши */
}

.modal-window {
  position: relative; /* Позиционирование относительно родителя */
  width: 100%; /* Ширина модального окна */
  max-width: 880px; /* Ширина модального окна */
  height: 100%; /* Высота модального окна */
  max-height: 880px; /* Высота модального окна */
  background-color: var(--color-primary-light); /* Цвет фона */
  border-radius: 32px; /* Скругляем углы */
  padding: 128px; /* Внутренние отступы */
  overflow-y: auto; /* Появление скроллбара */
}

.modal-btn-close {
  position: absolute; /* Абсолютное позиционирование */
  top: 40px; /* Отступ сверху */
  right: 40px; /* Отступ справа */
}

/* Form */

.form-field {
  margin-bottom: 32px; /* Отступ снизу */
}

.form-label {
  display: block; /* Блочный элемент */
}

.form-input {
  padding: 16px 42px; /* Внутренние отступы */
  width: 100%; /* Ширина элемента */
  border: 1px solid var(--color-decor-dark); /* Цвет рамки */
  border-radius: 8px; /* Скругляем углы */
  background-color: transparent; /* Прозрачный фон */
}

.form-input:focus {
  border-color: var(--color-brand-light); /* Цвет рамки */
  outline: none; /* Убираем рамку фокуса */
}

.form-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-decor-dark);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
  font-size: 16px;
  font-weight: 400;
}

.form-button {
  display: block; /* Блочный элемент, потому что кнопка не блок*/
  margin: 0 auto 24px; /* Отступ слева и справа auto, центрируем кнопку*/
}

.form-policy {
  margin: 0 auto; /* Отступ слева и справа auto, центрируем текст */
  max-width: 220px;
  font-family: 'Griloy', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center; /* Выравниваем текст по центру */
}

.form-policy-link {
  color: var(--color-primary-dark); /* Цвет текста */
  text-underline-offset: 2px; /* Отступ текс от линии подчёркивания */
}
