// Файл переменных для css, которые используются в проекте
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-decor-light: #cfcfbc;
  --color-decor-dark: #a18268;
}

// Файл переменных для sass, которые используются в проекте
/* Переменные через значок $, потому что через css синтаксис var() не будет применяться к sass*/
$bp-mobile: 480px; /* размеры адаптации для мобильных устройств */
$bp-tablet: 768px; /* размеры адаптации для планшетов */
$bp-desktop: 1280px; /* размеры адаптации для десктопов */
