.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%; /* Скругляем углы в круг */
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  cursor: pointer; /* Курсор при наведении */
  display: flex; /* Располагаем элементы в строку */
  align-items: center; /* Выравниваем по центру */
  justify-content: center; /* Выравниваем по центру */
  /* fill: var(--color-primary-dark); Цвет иконки будет насследоваться от родителя */
  flex-shrink: 0; /* Запрещаем уменьшение размера */

  &.next-slide {
    transform: rotate(180deg); /* Разворот элемента */
  }

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}
