.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0px;

  &__container {
    display: flex; /* Располагаем элементы в строку */
    align-items: center; /* Выравниваем элементы по центру */
    gap: 40px; /* Расстояние между элементами */
  }

  &__nav {
    display: flex; /* Располагаем элементы в строку */
    align-items: center; /* Выравниваем элементы по центру */
    flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
    gap: 40px; /* Расстояние между элементами */
  }

  &__menu {
    display: flex;
    gap: 64px; /* Расстояние между элементами */
    flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
    justify-content: center; /* Выравниваем пункты меню по центру */
  }
}
