.input {
  &__label {
    display: block; /* Блочный элемент */
  }

  &__control {
    padding: 8px 24px; /* Внутренние отступы */
    width: 100%; /* Ширина элемента */
    border: 1px solid var(--color-decor-dark); /* Цвет рамки */
    border-radius: 8px; /* Скругляем углы */
    background-color: transparent; /* Прозрачный фон */

    @media screen and (min-width: $bp-tablet) {
      padding: 16px 42px; /* Внутренние отступы */
      width: 100%; /* Ширина элемента */
      border: 1px solid var(--color-decor-dark); /* Цвет рамки */
      border-radius: 8px; /* Скругляем углы */
      background-color: transparent; /* Прозрачный фон */
    }

    &:focus {
      border-color: var(--color-brand-light); /* Цвет рамки */
      outline: none; /* Убираем рамку фокуса */
    }

    &:placeholder {
      font-family: 'Roboto', sans-serif; /* Шрифт */
      font-size: 16px; /* Размер шрифта */
      font-weight: 400; /* Жирность шрифта */
      color: var(--color-decor-dark); /* Цвет текста */
    }

    &:focus::placeholder {
      color: var(--color-primary-dark); /* Цвет текста */
      font-size: 16px; /* Размер шрифта */
      font-weight: 400; /* Жирность шрифта */
    }
  }
}
