.pagination {
  display: flex; /* Располагаем элементы в строку */
  align-items: center; /* Выравниваем элементы по центру */
  gap: 24px; /* Расстояние между элементами */
  justify-content: center; /* Выравниваем элементы по центру */

  &__button {
    width: 12px; /* Ширина кнопки */
    height: 12px; /* Высота кнопки */
    border-radius: 50%; /* Скругляем углы */
    background-color: var(--color-decor-dark); /* Цвет фона */
    padding: 0; /* Убираем внутренние отступы */

    &--active {
      background-color: var(--color-brand-light); /* Цвет фона */
    }
  }
}
