.chefs-section {
  &__title {
    margin: 0 auto 24px; /* Отступ сверху 0, слева и справа auto, снизу 24  */

    @media screen and (min-width: $bp-tablet) {
      position: relative; /* Позиционирование относительно родителя */
      margin: 0 auto 80px; /* Отступ сверху 0, слева и справа auto, снизу 80  */
      /* max-width: 532px; Максимальная ширина заголовка изменить потом на 520, потому что шрифт Poppins не поддерживает укр язык  */
    }

    &::after,
    &::before {
      display: none; /* Скрываем линии */

      @media screen and (min-width: $bp-desktop) {
        display: block; /* Делаем блочным элементом */
        bottom: 24px; /* Отступ снизу */
        position: absolute; /* Абсолютное позиционирование, автоматические становится блоком*/
        content: ''; /* Добавляем контент */
        width: 352px; /* Для декоративных линий */
        border: 2px solid var(--color-decor-light);
      }
    }

    &::before {
      left: 0; /* Отступ слева размер линии + 8 px расстояние между заголовком и линиями*/
    }

    &::after {
      right: 0; /* Отступ слева размер линии + 8 px расстояние между заголовком и линиями*/
    }
  }

  &__list {
    display: flex; /* Располагаем элементы в строку */
    gap: 25px; /* Расстояние между элементами вверх-вниз и влево-вправо*/
    flex-direction: column; /* Располагаем элементы в колонку */

    @media screen and (min-width: $bp-tablet) {
      display: flex; /* Располагаем элементы в строку */
      gap: 30px; /* Расстояние между элементами вверх-вниз и влево-вправо*/
      flex-wrap: wrap; /* Перенос элементов на новую строку */
      flex-direction: row; /* Располагаем элементы в колонку */
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc(
        (100% - 30px) / 2
      ); /* Ширина элемента 100 процентов минус 30 gap расстояние между карточками */
    }
  }
}
