.contacts-section {
  padding-bottom: 96px; /* Отступ снизу */

  &__container {
    display: flex; /* Располагаем элементы в строку */
    gap: 32px; /* Расстояние между элементами */
  }

  &__title {
    margin-bottom: 16px;
  }

  &__map {
    display: flex; /* Располагаем элементы в строку */
    flex-shrink: 0; /* Запрещаем уменьшение размера */
    border: none; /* Убираем рамку */
    border-radius: 16px; /* Скругляем углы */
  }

  &__form-field {
    margin-bottom: 24px; /* Отступ снизу */
  }

  &__button {
    display: block; /* Блочный элемент, потому что кнопка не блок*/
    margin: 0 auto 16px; /* Отступ слева и справа auto, центрируем кнопку*/
  }

  &__text {
    font-family: 'Roboto', sans-serif; /* Шрифт */
    margin-bottom: 42px; /* Отступ снизу */
    color: var(--color-brand-dark); /* Цвет текста */
  }
}
