.formats-section {
  &__title {
    margin-bottom: 24px; /* Отступ снизу */

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px; /* Отступ снизу */
    }

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px; /* Отступ снизу */
    }
  }

  &__slider {
    display: flex; /* Располагаем элементы в строку */
    gap: 32px;
    align-items: center;
  }

  &__container {
    overflow: hidden; /* Скрываем элементы, которые не помещаются в строку */
  }

  &__list {
    margin-bottom: 32px; /* Отступ снизу */
  }

  &__button {
    display: none !important; /* Скрываем кнопку */

    @media screen and (min-width: $bp-tablet) {
      display: flex !important; /* Показываем кнопку на планшете и выше */
    }
  }
}

// &__item {
//   display: flex; /* Располагаем элементы в строку */
//   flex-basis: calc(
//     (100% - 40px) / 3
//   ); /* Ширина элемента 100 процентов минус 40 gap 20+20 расстояние между карточками */
// }
