.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px; /* Отступ сверху */

  @media screen and (min-width: $bp-desktop) {
    padding-top: 32px; /* Отступ сверху */
  }

  &__container {
    display: flex; /* Располагаем элементы в строку */
    align-items: center; /* Выравниваем элементы по центру */
    gap: 40px; /* Расстояние между элементами */
  }

  &__nav {
    display: flex; /* Располагаем элементы в строку */
    align-items: center; /* Выравниваем элементы по центру */
    flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
    gap: 40px; /* Расстояние между элементами */
  }

  &__menu {
    display: none; /* Скрываем меню на мобильных устройствах */

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 64px; /* Расстояние между элементами */
      flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
      justify-content: center; /* Выравниваем пункты меню по центру */
    }
  }

  &__button {
    display: none; /* Скрываем кнопку на мобильных устройствах */

    @media screen and (min-width: $bp-desktop) {
      display: block; /* Показываем кнопку на мобильных устройствах */
    }
  }

  &__burger {
    display: block; /* Показываем бургер на мобильных устройствах */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Убираем рамку */
    width: 24px; /* Ширина бургера */
    height: 24px; /* Высота бургера */
    padding: 0; /* Убираем отступы */
    fill: var(--color-primary-light); /* Цвет бургера */

    @media screen and (min-width: $bp-desktop) {
      display: none; /* Скрываем бургер на десктопе */
    }
  }
}
