.mobile-menu {
  position: fixed; /* Фиксируем меню */
  top: 0; /* Прижимаем к верху */
  left: 0; /* Прижимаем к левому краю */
  width: 100%; /* Ширина меню 100% */
  height: 100%; /* Высота меню 100% */
  background-color: var(--color-primary-light); /* Цвет фона меню */
  transform: translateX(100%); /* Сдвигаем меню за пределы экрана */
  transition: transform 0.3s; /* Плавный переход при открытии и закрытии меню */

  @media screen and (min-width: $bp-desktop) {
    display: none; /* Скрываем меню на больших экранах */
  }

  &.is-open {
    transform: translateX(0); /* Показываем меню */
  }

  &__btn-close {
    position: absolute; /* Фиксируем кнопку закрытия */
    top: 16px; /* Отступ сверху */
    right: 24px; /* Отступ справа */
  }
}

.mobile-menu__logo {
  margin-bottom: 32px; /* Отступ снизу */
}

.mobile-menu__container {
  position: absolute; /* Фиксируем логотип */
  top: 16px; /* Отступ сверху */
  left: 24px; /* Отступ слева */
}

.mobile-menu__list {
  display: flex; /* Используем флекс для выравнивания элементов */
  flex-direction: column; /* Вертикальное выравнивание */
  gap: 16px; /* Отступ между элементами */
}

.mobile-menu__item {
  text-decoration: none; /* Убираем подчеркивание */
  color: var(--color-primary-dark); /* Цвет текста */
}

.mobile-menu__item:hover {
  color: var(--color-brand-light); /* Цвет текста при наведении */
  font-weight: 600; /* Жирный текст при наведении */
}
