.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  &__container {
    display: flex; /* Располагаем элементы в строку */
    justify-content: space-between; /* Распределяем элементы по ширине */
    gap: 40px; /* Расстояние между элементами */
    align-items: flex-start; /* Не растягивает изображение под адаптацию */
  }

  &__content {
    display: flex; /* Располагаем элементы в строку */
    flex-direction: column; /* Располагаем элементы в столбец */
    gap: 42px; /* Расстояние между элементами */
    max-width: 710px; /* Максимальная ширина контента */
  }

  &__image {
    display: none; /* Скрываем изображение на мобильных устройствах */

    @media screen and (min-width: $bp-tablet) {
      display: block; /* Показываем изображение на десктопе */
      border-radius: 190px 190px 0 0; /* Полукруг сверху */
    }
  }

  &__text {
    &--limited {
      max-width: 340px; /* Максимальна ширина текста по полам, чтобы текст сам перемещался на другое строку без тега <br> */
    }
  }
}
